body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

@font-face {
	font-family: 'MoonTime-Regular';
	src: url('./font/MoonTime-Regular.ttf'); 
	src: 
		local('MoonTime Regular'),
		local('MoonTime-Regular'),
		url('./font/MoonTime-Regular.ttf') 
		format('opentype');
}
@font-face {
	font-family: 'Cinzel-Regular';
	src: url('./font/Cinzel-Regular.ttf'); 
	src: 
		local('Cinzel Regular'),
		local('Cinzel-Regular'),
		url('./font/Cinzel-Regular.ttf') 
		format('opentype');
}

h1{
  font-family: 'Cinzel-Regular',sans-serif;
}

h2{
  font-family: 'MoonTime-Regular' ,sans-serif;
}

.about{
  font-size: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation-fill-mode: forwards;
}

.brand{
  font-size: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  margin-left: 70px;
  animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

.paraBrand{
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 200px;
  animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation-fill-mode: forwards;
  animation-delay: 1s;
}


@keyframes text-pop-up-top {
  0% {
            transform: translateY(100px);
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
            transform: translateY(0px);
            transform-origin: 50% 50%;
  }
}

.third{
  height: 80vh;
  animation: text-pop-up-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  background-color: blanchedalmond;
}

@keyframes text-pop-up-right {
  0% {
            transform: translateX(100px);
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
            transform: translateX(0px);
            transform-origin: 50% 50%;
  }
}

.founderDiv-1{
  display: flex;
}

.founderImg{
  margin-left: 50px;
  animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.aboutFounder{
  font-size: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

.founder{
  font-size: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  margin-left: 70px;
  animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.paraFounder{
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
  animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
}
